.Container{
    padding: 62px 80px;
    background-color: #F9FAFB;

}
.About{
    text-align: center;
    padding-bottom: 48px;
}
.span-btn{
background: #E5E7EB;
border-radius: 12px;
width: 65px;
padding-left: 1.25rem;
padding-right: 1.25rem;
padding-top: 0.25rem;
padding-bottom: 0.25rem;
height: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #4B5563;
}
.container-pic{
    width: 328px;
height: 360px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.background{

box-sizing: border-box;

position: absolute;
left: 14.63%;
right: 0%;
top: 11.11%;
bottom: 0%;

background: #E5E7EB;
border: 8px solid #FFFFFF;
}


.pic{
box-sizing: border-box;
position: absolute;
left: 21px;
width: 328px;
height: 360px;
top: 4.11%;
background: url('./mirror.jpg');
background-size:cover;
background-repeat: no-repeat;

border: 8px solid #FFFFFF;
}


.bg-pic{
    width: 584px;
min-width: 444px;
height: 694px;

}
.info{
    display: flex;

    flex-direction: column;
}

.info-text{
    

     font-style: normal;
}
.child{
    display: flex;
    gap: 48px;
}


.bold{
    width: 503px;
height: 36px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 36px;

letter-spacing: -0.02em;

}


