.position{


/* width: 384px;
height: 28px; */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
color: #111827;


}
.edu-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.edu-info{
    display: flex;
    gap:13rem;
}


.summary-points{
    display: flex;
    flex-direction: column-reverse;   
    

}
.summary-points ul{
    
        margin: 0;
        padding: 0;
    
}

.sumary-li{
    margin-bottom: 10px;

font-style: normal;
font-weight: 400;
font-size: small;
line-height: 24px;
color: #4B5563;


}
.edu-container{
    padding: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9FAFB;

}

.edu-nav{
    display: flex;
    flex-direction: column;
    margin-top: 42px;

padding: 32px;

width: 896px;


background: #FFFFFF;

box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.07), 0px 2px 2px rgba(0, 0, 0, 0.06);
border-radius: 12px;



}

.p-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    gap:48px;
}
.touch-text{
    width: 480px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 40px;

text-align: center;
letter-spacing: -0.02em;

color: #111827;


}
.connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:16px;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
}
.platfroms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}











.edu-childs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

