h2{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
letter-spacing: -0.02em;
color: #111827;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.points{
    list-style: none;
    display: flex;
    gap:20px;
    
}
li{

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #4B5563;



}
.nav{
    display: flex;
    justify-content: space-around;
}

button{
    width: 136px;
    height: 36px;
    color: #FFFFFF;
    background: #111827;
    border-radius: 12px;
    margin-left: 3vw;

}
